In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/ProfAI/machine-learning-fondamenti/main/datasets/housing_dirty.csv",index_col=0)
df.describe()

,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
count,504.000000,503.000000,499.000000,501.000000,502.000000,501.000000,503.000000,504.000000,501.000000,503.000000,307.000000,502.000000
mean,11.359127,11.165169,464.341474,5635.118064,68.514741,380.588031,9.574553,408.380952,18.463673,356.732127,12.360521,22.479482
std,23.355367,6.870201,223.653453,2007.343355,28.180007,1273.597641,8.725901,168.806575,2.151734,91.405284,7.307171,9.159295
min,0.000000,0.460000,0.400000,4.880000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.000000,5.190000,428.000000,5757.000000,45.025000,2.118500,4.000000,279.000000,17.400000,375.425000,6.545000,16.850000
50%,0.000000,9.690000,504.000000,6129.000000,77.500000,3.495200,5.000000,330.000000,19.100000,391.430000,10.590000,21.200000
75%,12.500000,18.100000,605.000000,6545.000000,93.975000,6.062200,24.000000,666.000000,20.200000,396.220000,17.025000,25.000000
max,100.000000,27.740000,871.000000,8725.000000,100.000000,8344.000000,24.000000,711.000000,22.000000,396.900000,36.980000,50.000000

In [ ]:

df.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
PRICE      0
dtype: int64

In [ ]:
df.count()<df.shape[0]*0.7
df= df.drop("LSTAT",axis=1)
df.head(9)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,PRICE
0.0,LOW,18.0,2.31,NO,538.0,6575.00,65.2,4.0900,1.0,296.0,15.3,396.90,24.0
1.0,LOW,0.0,7.07,NO,469.0,6421.00,78.9,4.9671,2.0,242.0,17.8,396.90,21.6
2.0,LOW,0.0,7.07,NO,469.0,7185.00,61.1,4.9671,2.0,242.0,17.8,392.83,34.7
3.0,LOW,0.0,2.18,NO,458.0,6998.00,45.8,6.0622,3.0,222.0,18.7,394.63,33.4
4.0,LOW,0.0,2.18,NO,458.0,7147.00,54.2,6.0622,3.0,222.0,18.7,396.90,36.2
5.0,LOW,0.0,2.18,NO,458.0,6.43,58.7,6.0622,3.0,222.0,18.7,394.12,28.7
6.0,MODERATE,12.5,7.87,NO,524.0,6012.00,66.6,5.5605,5.0,311.0,15.2,395.60,22.9
7.0,MODERATE,12.5,7.87,NO,524.0,6172.00,96.1,5.9505,5.0,311.0,15.2,396.90,27.1
8.0,MODERATE,12.5,7.87,NO,524.0,5631.00,100.0,6.0821,5.0,311.0,15.2,386.63,16.5

In [ ]:
## rimozione righe con valori mancanti > del 25%

row_na=df.isna().sum(axis=1)
row_na = row_na[row_na>df.shape[1]*0.25]
row_na
to_remove = row_na.index.values
df = df.drop(to_remove)
df.shape

## oppure

df = df.dropna(thresh=df.shape[1]*0.75)
df.shape

In [ ]:
row_price_na = df["PRICE"].isna()
row_price_na = row_price_na[row_price_na>0]
row_price_na

##oppure
## df = df.dropna(subset=["PRICE"])
## df.shape

117.0    True
165.0    True
206.0    True
233.0    True
Name: PRICE, dtype: bool

In [ ]:
to_remove = row_price_na.index.values
df = df.drop(to_remove)
df.shape

(497, 13)

In [ ]:
cols= df.columns

cols=cols.drop(["CRIM", "CHAS"])
cols

Index(['ZN', 'INDUS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B',
       'PRICE'],
      dtype='object')

In [ ]:
replace_with_mean = df[cols].mean().round(2)
df[cols]=df[cols].fillna(replace_with_mean)
na_count = df[cols].isna().sum().sum()
na_count

np.int64(0)